<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="variable1" value="
            ${newline}date：	${date}
            ${newline}level：	${level}
            ${newline}logger：	${logger}
            ${newline}machinename：	${machinename}
            ${newline}message：	${message}
            ${newline}appdomain：	${appdomain}
            ${newline}assembly-version：	${assembly-version}
            ${newline}basedir：	${basedir}
            ${newline}callsite：	${callsite}
            ${newline}callsite-linenumber：	${callsite-linenumber}
            ${newline}counter：	${counter}
            ${newline}nlogdir：	${nlogdir}
            ${newline}processid：	${processid}
            ${newline}requestid：  ${event-properties:item=requestId}
            ${newline}processname：	${processname}
            ${newline}specialfolder：	${specialfolder}
            ${newline}threadname：	${threadname}
            ${newline}exception: ${exception}
            ${newline}stacktrace: ${stacktrace}
            ${newline}------------------------------${level}----------------------------------" />

  <targets async="true">

    <target xsi:type="Console" name="console" layout="${longdate}|${level}|${message}"/>

    <target xsi:type="File" name="InfoLog" fileName="E:/log/InfoLog_${shortdate}.log"
             keepFileOpen="true" createDirs="true"   archiveAboveSize="1024000"  layout="${variable1}" />

    <target xsi:type="File" name="ErrorLog" fileName="E:/log/ErrorLog_${shortdate}.log"
           keepFileOpen="true" createDirs="true"  archiveAboveSize="1024000"  layout="${variable1}" />

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Info" writeTo="InfoLog" />
    <logger name="*" minlevel="Error" writeTo="ErrorLog" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>
