<?xml version="1.0" encoding="utf-8" ?>
<!-- 任务计划配置表 -->
<TaskScheduleConfig>
  <FireTime>22:14:00</FireTime>
  
  <!--<SpecifyTaskConfig>
    <TaskTrigger>
      <Name></Name>
      <Description></Description>
      <Crontab>
        <FireTime></FireTime>
        <Interval></Interval>
      </Crontab>
      <CycleTask>
        <RepeatCount></RepeatCount>
        <Interval></Interval>
      </CycleTask>
    </TaskTrigger>
  </SpecifyTaskConfig>-->
  
</TaskScheduleConfig>
