<?xml version="1.0" encoding="utf-8" ?>
<!-- 任务计划配置表 -->
<TaskScheduleConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FireTime>16:03:05</FireTime>

  <SpecifyTaskConfig>
    <TaskTrigger>
      <Name>AJob</Name>
      <Description></Description>
      <ExtraData><city>510100</city></ExtraData>

      <Crontab>
        <FireTime>16:30:05</FireTime>
        <Interval>1</Interval>
      </Crontab>
      <CycleTask>
        <RepeatCount></RepeatCount>
        <Interval></Interval>
      </CycleTask>

    </TaskTrigger>

    <!--<TaskTrigger>
      <Name>BTask</Name>
      <Description></Description>
      <Crontab>
        <FireTime>16:03:05</FireTime>
        <Interval>1</Interval>
      </Crontab>
      <CycleTask>
        <RepeatCount>-1</RepeatCount>
        <Interval>50</Interval>
      </CycleTask>
    </TaskTrigger>-->

  </SpecifyTaskConfig>

</TaskScheduleConfig>
