<?xml version="1.0" encoding="utf-8" ?>
<schedule xmlns="http://quartznet.sourceforge.net/JobSchedulingData"
                     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                     version="2.0">
  <trigger>
    <year></year>
    <month></month>
    <day></day>
    <hour></hour>
    <minute></minute>
    <second></second>
    <interval></interval>
  </trigger>
  <SpecifyTaskMap>
    <task>
      <Name></Name>
      <EName></EName>
      <Cycle>
        <repeat-count>10</repeat-count>
        <repeat-interval>1000</repeat-interval>
      </Cycle>
      <Crontab>
        <year></year>
        <month></month>
        <day></day>
        <hour></hour>
        <minute></minute>
        <second></second>
        <interval></interval>
      </Crontab>
      <subjoin>附加参数</subjoin>
    </task>
  </SpecifyTaskMap>
</schedule>
